In [116]:
import numpy as np
import pandas as pd

In [117]:
stations = pd.read_csv("outputs/observaciones.csv", sep=',')
stations.dtypes

Estacion      int64
Ano           int64
Mes           int64
Dia           int64
Hora          int64
RR          float64
dtype: object

In [118]:
stations[(stations['Estacion'] == 78310) & (stations['RR'].notna())]

      Estacion   Ano  Mes  Dia  Hora    RR
0        78310  2017    1    1     1   0.0
1        78310  2017    1    1     2   0.0
2        78310  2017    1    1     3   0.0
3        78310  2017    1    1     4   0.0
4        78310  2017    1    1     5   0.0
5        78310  2017    1    1     6   0.0
6        78310  2017    1    1     7   0.0
7        78310  2017    1    1     8   0.0
8        78310  2017    1    2     1   0.0
9        78310  2017    1    2     2   0.0
10       78310  2017    1    2     3   0.0
11       78310  2017    1    2     4   0.0
12       78310  2017    1    2     5   0.0
13       78310  2017    1    2     6   0.0
14       78310  2017    1    2     7   0.0
15       78310  2017    1    2     8   0.0
16       78310  2017    1    3     1  43.8
17       78310  2017    1    3     2   2.0
18       78310  2017    1    3     3   0.1
19       78310  2017    1    3     4   0.0
20       78310  2017    1    3     5   0.0
21       78310  2017    1    3     6   0.0
22       78310  2017    1    3     7   0.0
23       78310  2017    1    3     8   0.0
24       78310  2017    1    4     1   0.0
25       78310  2017    1    4     2   0.0
26       78310  2017    1    4     3   0.0
27       78310  2017    1    4     4   0.0
28       78310  2017    1    4     5   0.0
29       78310  2017    1    4     6   0.0
...        ...   ...  ...  ...   ...   ...
2890     78310  2017   12   28     3   0.0
2891     78310  2017   12   28     4   0.0
2892     78310  2017   12   28     5   0.0
2893     78310  2017   12   28     6   0.0
2894     78310  2017   12   28     7   0.0
2895     78310  2017   12   28     8   0.0
2896     78310  2017   12   29     1   0.0
2897     78310  2017   12   29     2   0.0
2898     78310  2017   12   29     3   0.0
2899     78310  2017   12   29     4   0.0
2900     78310  2017   12   29     5   0.0
2901     78310  2017   12   29     6   0.0
2902     78310  2017   12   29     7   0.0
2903     78310  2017   12   29     8   0.0
2904     78310  2017   12   30     1   0.0
2905     78310  2017   12   30     2   0.0
2906     78310  2017   12   30     3   0.0
2907     78310  2017   12   30     4   0.0
2908     78310  2017   12   30     5   0.0
2909     78310  2017   12   30     6   0.0
2910     78310  2017   12   30     7   0.0
2911     78310  2017   12   30     8   0.0
2912     78310  2017   12   31     1   0.0
2913     78310  2017   12   31     2   0.0
2914     78310  2017   12   31     3   0.0
2915     78310  2017   12   31     4   0.0
2916     78310  2017   12   31     5   0.0
2917     78310  2017   12   31     6   0.0
2918     78310  2017   12   31     7   0.0
2919     78310  2017   12   31     8   0.0

[2919 rows x 6 columns]

In [119]:
data = stations[(stations['Estacion'] == 78310) & (stations['RR'].notna())].to_numpy()[:, 1:]
data

array([[2.017e+03, 1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00],
       [2.017e+03, 1.000e+00, 1.000e+00, 2.000e+00, 0.000e+00],
       [2.017e+03, 1.000e+00, 1.000e+00, 3.000e+00, 0.000e+00],
       ...,
       [2.017e+03, 1.200e+01, 3.100e+01, 6.000e+00, 0.000e+00],
       [2.017e+03, 1.200e+01, 3.100e+01, 7.000e+00, 0.000e+00],
       [2.017e+03, 1.200e+01, 3.100e+01, 8.000e+00, 0.000e+00]])

In [39]:
stations.Estacion.unique()

array([78310, 78312, 78313, 78314, 78315, 78316, 78317, 78318, 78320,
       78376, 78322, 78323, 78340, 78374, 78375, 78325, 78373, 78327,
       78328, 78329, 78330, 78331, 78332, 78333, 78335, 78344, 78308,
       78326, 78338, 78343, 78348, 78337, 78341, 78342, 78349, 78339,
       78345, 78346, 78347, 78350, 78351, 78352, 78353, 78354, 78355,
       78357, 78358, 78362, 78365, 78370, 78372, 78378, 78359, 78360,
       78361, 78377, 78363, 78364, 78366, 78319, 78334, 78356, 78368,
       78369, 78309, 78321, 78324])

In [120]:
from files.observations import *

In [130]:
obs = Observations("outputs/observaciones.csv")
obs.StationsId()

AttributeError: 'Observations' object has no attribute 'StationsId'

In [131]:
obs.GetStationObservation(78310)
#obs.stations[(obs.stations['Estacion'] == 78310) & (obs.stations['RR'].notna())].to_numpy()

TypeError: 'NoneType' object is not subscriptable

In [128]:
obs.Esta()

AttributeError: 'Observations' object has no attribute 'Esta'